<!DOCTYPE html>
<html lang="zxx">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Kobe</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"><!-- C++ 아이콘 stylesheet-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
		integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
		crossorigin="anonymous" referrerpolicy="no-referrer">
	<link rel="stylesheet" href="../_includes/style.css">
</head>

<body>
	<!-- header -->
	<header>
		<div class="container">
			<h1>
				<button>Kobe</button>
			</h1>
			<nav>
				<ul>
					<li>
						<button>About</button>
					</li>
					<li>
						<button>Features</button>
					</li>
					<li>
						<button>Portfolio</button>
					</li>
					<li>
						<button>Contact</button>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<!-- end header -->
	<!-- main -->
	<main id="main">
		<div class="container">
			<h4>Welcome</h4>
			<h2>I'M A <span>iOS Developer</span></h2>
			<p>별과 캠핑, 자연, 낚시를 좋아하고 나의 웃음과 상대의 웃음 소리가 섞이는 그 순간을 가장 행복해하는 사람입니다.</p>
			<button class="download">DOWNLOAD RESUME</button>
			<button class="mouse"><i class="fa-solid fa-computer-mouse"></i></button>
		</div>
	</main>
	<!-- end main -->
	<!-- About me -->
	<section id="about" class="about">
		<div class="container">
			<div class="title">
				<h4>Who Am I</h4>
				<h2>About Me</h2>
			</div>
			<div class="about-self">
				<div class="left">
					<img src="../../images/kobe_cafe.jpg" alt="">
				</div>
				<div class="right">
					<h3>Hello <strong>I'm Minseong Kang</strong></h3>
					<h2>a.k.a Kobe</h2>
					<p>I'm iOS Developer</p>
					<p>I like contributing to open source.</p>
					<p>I enjoy learning, organizing, and then documenting.</p>
					<p>I love and appreciate stars, wind, sea, rivers, mountains, and nature.</p>
					<div class="social">
						<a href="#">
							<i class="fa-brands fa-reddit"></i>
						</a>
						<a href="#">
							<i class="fa-brands fa-linkedin"></i>
						</a>
						<a href="#">
							<i class="fa-brands fa-swift"></i>
						</a>
						<a href="#">
							<i class="fa-brands fa-twitter"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end About me -->
	 <!-- What I Do -->
	 <section id="features" class="do">
    <div class="container">
      <div class="title">
        <h4>Features</h4>
        <h2>What I Do</h2>
      </div>
      <div class="do-me">
        <div class="do-inner">
          <div class="icon">
            <i class="fa-brands fa-swift"></i>
          </div>
          <div class="content">
            <h3>Swift</h3>
            <p>객체 지향 프로그래밍과 UIKit에 대한 이해와 오류처리, 동시성 처리 그리고 메모리 관리를 Swift를 활용하여 처리할 수 있습니다.</p>
          </div>
        </div>
        <div class="do-inner">
          <div class="icon">
            <i class="devicon-cplusplus-plain"></i>
          </div>
          <div class="content">
            <h3>C++</h3>
            <p>기본 문법과 개념, 함수, 포인터와 참조를 이해하며 동적으로 메모리를 관리할 수 있습니다.</p>
          </div>
        </div>
        <div class="do-inner">
          <div class="icon">
            <i class="fa-brands fa-js"></i>
          </div>
          <div class="content">
            <h3>JavaScript</h3>
            <p>기본 문법과 개념, 함수, 이벤트 처리를 할 수 있으며 프론트엔드 프레임워크와 라이브러리에 대한 기초적인 이해가 있습니다.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- // end What I Do -->
	<!-- Background -->
	<div class="bg"></div>
	<!-- // end Background -->
	<!-- Portfolio -->
  <section id="portfolio" class="portfolio">
    <div class="container">
      <div class="title">
        <h4>PORTFOLIOBACK</h4>
        <h2>PortFolio</h2>
      </div>
      <div class="portfolio-me">
        <div class="portfolio-inner">
          <img src="../../images/mock1.png" alt="">
          <strong>BRANDING</strong>
          <h3>Package Design</h3>
        </div>
        <div class="portfolio-inner">
          <img src="../../images/mock2.png" alt="">
          <strong>DEVELOPMENT</strong>
          <h3>Tablet App Dev</h3>
        </div>
        <div class="portfolio-inner">
          <img src="../../images/mock3.png" alt="">
          <strong>MARKETING</strong>
          <h3>Coka Cola</h3>
        </div>
        <div class="portfolio-inner">
          <img src="../../images/mock4.png" alt="">
          <strong>APP</strong>
          <h3>FaceBook Clone</h3>
        </div>
        <div class="portfolio-inner">
          <img src="../../images/mock5.png" alt="">
          <strong>APP</strong>
          <h3>Netflix Clone</h3>
        </div>
        <div class="portfolio-inner">
          <img src="../../images/mock6.png" alt="">
          <strong>WEB</strong>
          <h3>FirmBee Web</h3>
        </div>
      </div>
    </div>
  </section>
  <!-- //end PortFolio -->
</body>

</html>