<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Section</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="../html/init.css">
</head>
<body>
    <!-- About me -->
    <section id="about" class="about">
        <div class="container">
            <div class="title">
                <h4>Who Am I</h4>
                <h2>About Me</h2>
            </div>
            <div class="about-self">
                <div class="left">
                    <img src="../../images/kobe_cafe.jpg" alt="">
                </div>
                <div class="right">
                    <h3>Hello <strong>I'm Minseong Kang a.k.a Kobe</strong></h3>
                    <p>I'm iOS Developer</p>
                    <p>I like contributing to open source.</p>
                    <p>I enjoy learning, organizing, and then documenting.</p>
                    <p>별, 바람, 바다, 강, 산, 자연을 좋아하고 사랑합니다.</p>
                    <div class="social">
                        <a href="#">
                            <i class="fa-brands fa-reddit"></i>
                        </a>
                        <a href="#">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                        <a href="#">
                            <i class="fa-brands fa-swift"></i>
                        </a>
                        <a href="#">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end About me -->
</body>
</html>