<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header Section</title>
    <link rel="stylesheet" href="../../css/header.css">
</head>
<body>
    <!-- header -->
    <header>
        <div class="container">
            <h1>
                <button>Kobe</button>
            </h1>
            <nav>
                <ul>
                    <li>
                        <button>About</button>
                    </li>
                    <li>
                        <button>Features</button>
                    </li>
                    <li>
                        <button>Portfolio</button>
                    </li>
                    <li>
                        <button>Contact</button>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- end header -->
</body>
</html>