<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>main</title>
  <link rel="stylesheet" href="../../_includes/html/init.css">
</head>
<body>
  <!-- main -->
	<main id="main">
		<div class="container">
			<h4>Welcome</h4>
      <!-- 13.10.1에서 span 태그의 내용이 비워집니다. -->
			<h2>I'M A <span>iOS Developer</span></h2>
			<p>별과 캠핑, 자연, 낚시를 좋아하고 나의 웃음과 상대의 웃음 소리가 섞이는 그 순간을 가장 행복해하는 사람입니다.</p>
			<button class="download">DOWNLOAD RESUME</button>
			<button class="mouse"><i class="fa-solid fa-computer-mouse"></i></button>
		</div>
	</main>
	<!-- end main -->
</body>
</html>