<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>What I Do</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
  <!-- C++ 아이콘 stylesheet-->
  <link rel="stylesheet" href="../html/init.css">
  <link rel="stylesheet" href="../../css/what_i_do.css">
</head>

<body>
  <!-- What I Do -->
  <section id="features" class="do">
    <div class="container">
      <div class="title">
        <h4>Features</h4>
        <h2>What I Do</h2>
      </div>
      <div class="do-me">
        <div class="do-inner">
          <div class="icon">
            <i class="fa-brands fa-swift"></i>
          </div>
          <div class="content">
            <h3>Swift</h3>
            <p>객체 지향 프로그래밍과 UIKit에 대한 이해와 오류처리, 동시성 처리 그리고 메모리 관리를 Swift를 활용하여 처리할 수 있습니다.</p>
          </div>
        </div>
        <div class="do-inner">
          <div class="icon">
            <i class="devicon-cplusplus-plain"></i>
          </div>
          <div class="content">
            <h3>C++</h3>
            <p>기본 문법과 개념, 함수, 포인터와 참조를 이해하며 동적으로 메모리를 관리할 수 있습니다.</p>
          </div>
        </div>
        <div class="do-inner">
          <div class="icon">
            <i class="fa-brands fa-js"></i>
          </div>
          <div class="content">
            <h3>JavaScript</h3>
            <p>기본 문법과 개념, 함수, 이벤트 처리를 할 수 있으며 프론트엔드 프레임워크와 라이브러리에 대한 기초적인 이해가 있습니다.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- // end What I Do -->
</body>

</html>